@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* menu item styles */
.selected{
  background-color:#9546fc;
  transition: all 0.7s ease-in-out;
}

.selected:hover{
  filter: drop-shadow(0 0 20px #9546fc);
}

.hover-event{
  background-color:#2a0d4f;
}


/* hamburger styles */
.menuButton{
  transition:all 0.3s ease-in-out;
}
.menuButton div span{
  transition:all 0.3s ease-in-out;
}
.active-menu div span:nth-child(1){
  transform: rotate(45deg) translateY(0.9rem);
}
.active-menu div span:nth-child(2){
  transform: scale(0);
}
.active-menu div span:nth-child(3){
  transform: rotate(-45deg) translateY(-0.9rem);
}
.vid:hover{
  border: 2px solid #9546fc;
}